table thead th .text span:has(+ .item-after),
table thead th .text span.item-after
{
    display: inline;
}

table thead th .text span.item-after {
    margin-left: 1em;
}

.aldryn-forms-data .item {
    display: flex;
}

.aldryn-forms-data .item.d-none {
    display: none;
}

.aldryn-forms-data .label {
    color: #00bbff;
}

.aldryn-forms-data .label {
    margin-right: 0.2em;
}

.aldryn-forms-data .label::after {
    content: ":";
}

.aldryn-forms-data .item .value {
    white-space: normal;
}
